.animation-enter {
  opacity: 0;
}
.animation-enter-active {
  opacity: 1;
  transition: opacity 400ms;
}
.animation-exit {
  opacity: 1;
}
.animation-exit-active {
  opacity: 0;
  transition: opacity 400ms;
}
